<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'multiform.css' %}">
    </head>
    <body>
        <section>
            <div class="container">
                <form method="post">
                    {% csrf_token %}
                    <div class="step step-1 active">
                        <div class="form-group">
                            <label for="storeName">What is the name of your store?</label>
                            <input class="input" type="text" id="storeName" name="store"/>
                        </div>
                        <button type="button" class="next-btn">Next</button>
                    </div>

                    <div class="step step-2">
                        <div class="form-group">
                            <label for="balance">What is the balance left on your gift card</label>
                            <input class="input" type="number" id="balance" name="balance"/>
                        </div>
                        <button type="button" class="previous-btn">Prev</button>
                        <button type="button" class="next-btn">Next</button>
                    </div>

                    <div class="step step-3">
                        <div class="form-group">
                            <label for="price">What price are you selling at</label>
                            <input class="input" type="number" id="price" name="price"/>
                        </div>
                        <button type="button" class="previous-btn">Prev</button>
                        <button type="button" class="next-btn">Next</button>
                    </div>

                    <div class="step step-4">
                        <div class="form-group">
                            <label for="email">Which network would you like to receive funds at?</label>
                            <input class="input" type="text" id="network" name="network"/>
                        </div>
                        <button type="button" class="previous-btn">Prev</button>
                        <button type="button" class="next-btn">Next</button>
                    </div>

                    <div class="step step-5">
                        <div class="form-group">
                            <label for="phone">What address do you want to receive funds at?</label>
                            <input class="input" type="text" id="address" name="address"/>
                        </div>
                        <button type="button" class="previous-btn">Prev</button>
                        <button type="button" class="next-btn">Next</button>
                    </div>

                    <div class="step step-6">
                        <div class="form-group">
                            <label for="country">What’s your email address?</label>
                            <input class="input" type="email" id="email" name="email"/>
                        </div>
                        <button type="button" class="previous-btn">Prev</button>
                        <button type="submit" class="submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </section>
        <script src="{% static 'multiform.js' %}" type="text/javascript"></script>
    </body>
</html>